<div class="left-page">
  <!--文言を入れる-->
</div>
<div class="right-page">
  <h1>あなたの人生の指針、叶えたいを教えて下さい</h1>
  <p>
    これまでの生き方<br>
    これまでの考え方
  </p>
  <p>
    どういう性格でどういう生き方をしてきたのか
  </p>
  <p>
    そしてそれは</br>
    どういう考えを持っていたのか
  </p>
  <h3>それはあなたの中にあります</h3>
  <div>
    <%= form_with model: @user, url: confirm_user_path, method: :get do |f| %>
      <p>人生の指針</p>
      <div><%= f.text_field :mission_statement %></div>
      <p>理由、詳細</p>
      <div><%= f.text_area :mission_detail %></div>
      <div><%= f.submit '次に進む' %></div>
    <% end %>
  </div>
</div>