<div class="container-fluid">
  <div class="book-cover row justify-content-center my-4 py-3">
    <div class="col-6 align-self-center my-5">
      <div class="smart-content text-center font-weight-bold">
        <h1>本当に退会しますか？</h1>
      </div>
      <div class="cross-frame text-center font-weight-bold">
        <h3>
          全てのデータが削除されます<br>
          退会する場合は、「退会する」をクリックしてください。
        </h3>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "退会しない",welcome_path, class: "btn btn-info" %>
          </div>
          <div>
            <%= link_to "退会する",user_destroy_path,method: :delete,"data-confirm" =>"本当によろしいですか?", class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>