<div class="container-fluid">
  <div class="row justify-content-center open-book my-4">
    <%= form_with model: @schedule,url: schedules_path, method: :patch do |f| %>
    <%= render 'form',commit: @commits %>
  </div>
</div>