<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">
    <%= form_with model: @schedule,url: schedule_path(@schedule.id), method: :patch do |f| %>
    <%= render 'form',problem: @problems %>
  </div>
</div>