<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">
    <div id='calendar'></div>
    <div class="col-auto ml-auto mr-4 mt-1">
      <%= link_to "予定を立てる",new_schedule_path %>
    </div>
  </div>
</div>