<div class="book-spread">
  <div id='calendar'></div>
  <div>
    <!--scheduleのnewのリンクを入れる-->
  </div>
    <!--commitのindexリンクを入れるか、スケジュールのindexを新たに作りリンクを作るか考える-->
    <!--入れる場合、このページは新たにcalendarのコントローラーとアクションを作成するか、新たにページ作るか考える  -->
</div>