<div class="left-page">
  <p>
    この本はあなたの分身です。
  </p>
  <p>
    叶えたい思い<br>
    叶えたい目標
  </p>
  <p>
    自分とは何かを書き込み<br>
    なりたい姿を描いていく
  </p>
  <p>
    この本はきっとあなたにとって<br>
    大きな大きな高い壁となって立ち塞がることでしょう
  </p>
  <p>
    でも恐れないで<br>
    高い壁であると同時にあなた自身でもある
  </p>
  <p>
    迷った時<br>
    挫けそうな時
  </p>
  <p>
    この本があなたの背中を押してくれる
  </p>
  <p>
    あなたがこの本と向き合っている限り<br>
    あなたの味方となります<br>
    なりたい姿に一歩でも近づけるように
  </p>
</div>
<div class="right-page">
  <p>
    あなたのなりたい姿<br>
    目標を教えてください
  </p>
  <p>
    それはいくつ年を重ねようと<br>
    変わらない心の渇望
  </p>
  <p>
    目標<br>
    達成する姿
  </p>
  <p>
    想像して
  </p>
  <p>
    その時のあなたはどんな生き方をしていますか<br>
    その時のあなたはどんな時間を過ごしていますか
  </p>
  <p>
    あなたの将来の理想を知って<br>
    叶えたい目標を見つけましょう<br>
    それはこころをみつめる
  </p>
  <p>
    さぁ深呼吸して<br>
    リラックスして
  </p>
  <p>
    はじめましょう
  </p>
  <% if current_user.ideal.present? %>
    <div>
      <%= link_to "まずはあなたの理想を教えてください",step1_keyword_ideal_path %>
    </div>
  <% elsif current_user.users.mission_statement.present? %>
    <div>
      <%= link_to "あなたの人生をかけて叶える目標を教えてください",new_user_path %>
    </div>
  <% else %>
    <div>
      <%= link_to "あなたの目標を教えてください",new_commit_path %>
    </div>
  <% end %>
</div>