<!--左のページ-->
<div class="left-page col text-center m-5 p-5">
  <p>
    目標<br>
    あなたの人生における<br>
    ミッションステートメント
  </p>
  <p>
    教えていただきまして<br>
    ありがとうございます<br>
  </p>
  <p>
    ここまでの質問で<br>
    あなたの人生で叶えたいものが<br>
    明確になりました
  </p>
</div>

<!--右のページ-->
<div class="right-page col text-center m-5 p-5">
  <p>
    ここからは<br>
    目標に向かって<br>
    理想を叶えるために
  </p>
  <p>
    走り続けるのみです
  </p>
  <p>
    この本を<br>
    毎日確認を行い<br>
    毎日書き込みすることによって
  </p>
  <p>
    あなたの味方となり<br>
    目標を叶える<br>
    大切なパートナーとなりうることでしょう
  </p>
  <p>
    それはきっと<br>
    あなたの人生を豊かにするだけでなく
  </p>
  <p>
    あなたの人生が<br>
    なにものにもかえがたい大切なものに<br>
    成長していくことと思います
  </p>
  <p>
    これからのことを<br>
    よく見て<br>
    よく考えて<br>
    よく感じて
  </p>
  <p>
    あなたの心の赴くままに<br>
    行動し続けて
  </p>
  <p>
    夢が叶うことを祈っています
  </p>
  <div>
    <%= link_to "さぁ、はじめましょう", schedules_path %>
  </div>
</div>