<p>
  ネガティブモチベーションで<br>
  理想の自分になれます
</p>
<p>
  自分の中のNGを知ることは<br>
  ネガティブモチベーションになります
</p>
<p>
  ネガティブモチベーションとは<br>
  これだけは絶対に嫌という思い
</p>
<p>
  そうならないためにはどうしたらいいか<br>
  それを考え、行動を促すもののことです
</p>
<p>
  理想や願望がわからない人でも<br>
  これだけにはなりたくない<br>
  というものがわかれば<br>
  消去法で行動の選択をしていくうちに<br>
  やりたいことが明確になっていきます
</p>
<p>
  ネガティブモチベーションは<br>
  時としてポジティブモチベーションを<br>
  上回るパワーを持ちます
</p>
<p>
  なぜなら<br>
  「〇〇になりたい」は<br>
  環境や状況で変わりやすいですが<br>
  「絶対に〇〇になりたくない」<br>
  という気持ちは変わりにくく<br>
  そして明確な思いだからです
</p>