<p>
  ポジティブな時間を増やしていきましょう
</p>
<p>
  例えば言われたら嬉しい言葉<br>
  感動して泣きそうになってしまう瞬間<br>
  幸せを感じる瞬間<br>
  喜びを感じる瞬間
</p>
<p>
  どれも感情がポジティブに動いた瞬間です
</p>
<p>
  これから過ごす毎日では<br>
  落ち込む<br>
  不安に感じる<br>
  辛さを感じる<br>
  自分の軸がわからなくなる
</p>
<p>
  そんな時はここを見返して
</p>
<p>
  声に出して自分自身に言ってください<br>
  日常の中にそのスイッチを<br>
  意識的に散りばめてください
</p>
<p>
  自分とコミュニケーションをとって<br>
  感動する瞬間をたくさん持てる
</p>
<p>
  それは豊かな人生を送る上で<br>
  とても大切なことです
</p>
