<p>
  あなたがしてみたいと思うこと<br>
  それができるようになっているということは<br>
  あなたが理想を叶えていっているという<br>
  一つの証でもあります
</p>
<p>
  実際にしてみると<br>
  そのときの感想は
</p>
<p>
  一つの達成感があることでしょう
</p>
<p>
  それは些細なことでも<br>
  大きなことでも<br>
  なんでも構いません
</p>
<p>
  誰かがやっていることでも<br>
  誰かに誇れることができることでも
</p>
<p>
  そして反対に
</p>
<p>
  誰もしていないようなことでも<br>
  馬鹿らしいようなことでも<br>
  誰にも誇れないようなことでも
</p>
<p>
  なんでも良いのです
</p>
<p>
  あなたが心から<br>
  望んでいるものであるのならば
</p>
<p>
  それは
  モチベーションとなっていくのですから
</p>