<p>
  あなたが欲しいと思うもの
</p>
<p>
  一つ一つ<br>
  一歩一歩
</p>
<p>
  目標を叶えて<br>
  夢を叶えていっている<br>
  その過程であり
</p>
<p>
  そして結果になります
</p>
<p>
  手に入れたい<br>
  欲しいと思うもの
</p>
<p>
  それを知ることで<br>
  モチベーションになり
</p>
<p>
  夢の形を<br>
  明確にすることになります
</p>
<p>
  知るということで<br>
  そして欲しいの心から願うことで<br>
  願いは現実となり
</p>
<p>
  夢が叶っていきます
</p>