<div>
  <div>
    <h1>Goal Planner</h1>
  </div>
  <div>
    <p>
    このアプリケーションはあなたの人生を設計する
    </p>
    <p>
      将来の目標<br>
      将来のなりたい姿
    </p>
    <p>
      理想を追求していくプランナーです
    </p>
    <p>
      詳しく記載することで
      当日の予定が簡単に確認することができます
      目標に向かっていることをグラフを用いて確認できます
    </p>
    <p>
      あなたがあなたのために作る
    </p>
    <p>
      大切な一冊になりますように
    </p>
  </div>
  <div>
    <%= link_to "新規登録",new_user_registration_path %>
  </div>
  <div>
    <%= link_to "ログイン",new_user_session_path %>
  </div>
</div>