<div class="library"></div>
<div class="container-fluid">
  <div class="row justify-content-center my-4">
    <div class="col-6 my-5">
      <div class="smart-content text-center font-weight-bold">
        <h1>Goal Planner</h1>
      </div>
      <div class="cross-frame text-center font-weight-bold">
        <p>
          このアプリケーションはあなたの人生を設計する<br>
        </p>
        <p>
          将来の目標<br>
          将来のなりたい姿
        </p>
        <p>
          理想を追求していくプランナーです
        </p>
        <p>
          詳しく記載することで<br>
          当日の予定が簡単に確認することができます<br>
          目標に向かっていることをグラフを用いて確認できます
        </p>
        <p>
          あなたがあなたのために作る
        </p>
        <p>
          大切な一冊になりますように
        </p>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "新規登録",new_user_registration_path, class: "btn btn-primary" %>
          </div>
          <div>
            <%= link_to "ログイン",new_user_session_path, class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

