<div class="bookshelf">
  <div class="spine">
    <% if current_user.mission.present? %>
      <%= render 'homes/wizard_welcomes/welcome' %>
    <% else %>
      <%= render 'homes/wizard_welcomes/introduction' %>
    <% end %>
  </div>
</div>