<div>
  <div>
    <%= @user.mission_statement %>
  </div>
  <div>
    <%= @user.mission_detail %>
  </div>
</div>



<%= render 'show', ideal: @ideal %>

<div><%= link_to 'やり直す', ideal_path(@ideal.id),method: :delete %></div>