<% unless @user_motivation.present? %>
  <div>
    <p>
      あなたにとってのモチベーションを教えて下さい
    </p>
    <p>
      ポジティブなことでモチベーションを維持する<br>
      これだけは嫌と思うネガティブなことでモチベーションを維持する<br>
      将来やりたいことでモチベーションを維持する<br>
      将来ほしい物でモチベーションを維持する<br>
    </p>
    <p>
      モチベーションのスイッチを知ると<br>
      自分が落ち込んだ時や元気が欲しい時<br>
      自分に何をしてあげたらいいのかわかるようになります<br>
    </p>
    <p>
      それは自分の気持ちを上げるための処方箋のようなものです
    </p>
    <p>
      きっとこれからモチベーションが下がったり、迷ったりすることがあることでしょう<br>
      ですが何も恐れることはありません
    </p>
    <p>
      たとえ下がったり迷ったとしても<br>
      何度でもモチベーションのスイッチを入れることができるからです
    </p>
    <p>
      ここを見て、何度でも立ち上がり<br>
      あなたの夢、理想を叶えて下さい
    </p>
  </div>
  <%= render '_motivation_form.html.erb', motivation: @motivation %>
<% else %>
  <%= link_to "編集",edit_motivation_path %>
<% end %>