.smart-content {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: rgb(255,255,255,50%);
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.cross-frame {
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  background: rgb(255,255,255,50%);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.cross-frame:before, .cross-frame:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.cross-frame:before {left: 10px;}
.cross-frame:after {right: 10px;}
.cross-frame p {
  margin: 30px;
  padding: 0;
}
.smart-frame {
    padding: 0.5em 1em;
    margin: 0 0 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.title-frame {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.title-frame span {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.danger-title-frame {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px red;
    border-radius: 8px;
}
.danger-title-frame span {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: red;
    font-weight: bold;
}