.smart-content {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: rgb(255,255,255,50%);
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.cross-frame {
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  background: rgb(255,255,255,50%);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.cross-frame:before, .cross-frame:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.cross-frame:before {left: 10px;}
.cross-frame:after {right: 10px;}
.cross-frame p {
  margin: 30px;
  padding: 0;
}
.smart-frame {
    padding: 0.5em 1em;
    margin: 0 0 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.title-frame {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.title-frame span {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.danger-title-frame {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px red;
    border-radius: 8px;
}
.danger-title-frame span {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: red;
    font-weight: bold;
}
.sticky-note {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.sticky-note .sticky-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.sticky-note .sticky-body {
    padding: 15px 20px;
    margin: 0;
}
.cloth-frame{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.masking-tape{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.masking-tape:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}