<h1>Missions#new</h1>
<p>Find me in app/views/missions/new.html.erb</p>

<!--目標設定作成フォーム-->
<% if params[:goal] %>
  <%= render 'ideals/wizard_news/goal', schedule: @schedule %>
  
<!--目標タスク作成フォーム-->
<% elsif params[:plan] %>
  <%= render 'ideals/wizard_news/plan', plan: @plan %>

<!--ミッションステートメント作成フォーム-->
<% elsif params[:mission] %>
  <%= render 'ideals/wizard_news/mission', mission: @mission %>
<% end %>